<!DOCTYPE>hmtl>
<html>
<head>
<meta charset="UTF-8">
<meta nome="viewport"content="width=device-width,
initial-scale=1.0">
<title>imperion-xy</title>
<tsyle>
body{
    font-family: Arial, sans-serif;
}

header {
    background-color: #222;
    color:white;
    text-align:center;
}

nav {
    background-color: #444;
    text-align: center;
    pedding: 10px;

}

section {
    pedding:20px;

}

.card {
    background-color: white;
    padding: 15px;
    magin: 10px 0;
    border-radius: 8px;

}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15xp;
}
</sty>
</head>
<body>

<header>
<h1>academia imperion-xy</h1>
<p>transforme seu corpo, e transforme sua vida!</p>
</header>

<nav>
<a href="#">inicio,</a>
<ahref="#">planos</a>
<a href="#">exercicios</a>
<a href="#">treinos</a>
</nav>

<selection>
<div class="card">
 <h2>plano basico</h2>
 <p>r$30,90 por mes</p>
</div>

<div class="card">
 <h2>plano premium</h2>
 <p>r$120,90 por mes</p>
</div>

<div class="card">
 <h2>horario de funcionamento</h2>
 <p>segunda a sabado: 06h as 22h</p>
</div>
</selection>

<footer>
 <p>&copy;2026 academia imperion-xy</p>
</footer>

</body>
<html>
